text bassed 
open with welcome back user name

1first list submited transactions if any is on account ?

-----------------------------------
ft to add transactions
ft to delete transactions
ft to edit transactions
add recuring bills y/n

if yes remind me if i log in close to day
date & time of transaction 

-------------------------------
add current balance
--------------------------------
groups of transaction types
1groccery/food
2gas/travel
3entertainment/
4bills

# get name#
name = input("what is your name?: ")
if not name:
    print(f"you used the numbers{name} i need your name.")
else:
    print(f"WELCOMEBACK {name}.")
# open with welcom back user name#


Rolling total for past week's transactions
Monthly/yearly total for transactions and paychecks
Show user a breakdown of transactions based on groups 
(i.e. 40% of your income was spent on groceries)

Login/Signup system
User information hashing and encoding for privacy

CHANGES TO BE MADE 
IF the user makes an edit to a past transaction or deletes one, 
we need to refresh the information
in the total balances and yearly/monthly total 